body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	width: 630px;
	margin: 0 auto;
	color: white;
}

#all-names{

}

.person {
	width: 75px;
	height: 75px;
	padding: 20px;
	border: 2px;
	border-radius: 25%;
	margin: 5px;
	background-color: maroon;
	line-height: 75px;
	text-align: center;
	display: inline-block;
}


.button {
	display: block;
	margin: 0 auto;
	height: 100px;
	width: 100px;
	border-radius: 100%;
	font-weight: bold;
}

.faded {
	opacity: 5%,
}