/*Clearfix Here*/
.group:after {
  content: "";
  display: table;
  clear: both;
}
/*Clearfix End*/

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	width: 780px;
	margin: 0 auto;
	color: white;
	background-color: #99ccff;
}
.person {
	width: 75px;
	/*height: 75px;*/
	padding: 20px;
	margin: 5px;
	line-height: 75px;
	text-align: center;
	display: inline-block;
	background-color: #fffacc;
	color: black;
	border-top: 15px solid #fffacc;
	border-right: 15px solid #fffacc;
	border-left: 15px solid #fffacc;
	border-radius: 25px;
}
.person:hover {
	color: #99ccff;
	border-top: 15px solid #99ccff;
	border-right: 15px solid maroon;
	border-left: 15px solid maroon;
	border-radius: 0 0 25px 25px;
	background-color: maroon;
}
.button {
	background-color: #ffff66;
	color: orange;
	display: block;
	margin: 10px auto;
	height: 100px;
	width: 100px;
	border-radius: 100%;
	font-weight: bold;
	border: 2px solid orange;
}
.faded {
	opacity: 0.5,
}